

SELECT nom AS [Nom], prenom AS [Prénom], date_naissance AS [Date de naissance], nombre_commandes AS [Nombre de commandes], 
adrfact.adresse AS [Adresse de facturation], adrfact.ville, adrfact.cp AS [Code postal], 
adrliv.adresse AS [Adresse de livraison], adrliv.ville, adrliv.cp AS [Code postal]
FROM ProjetPOO.dbo.situer

LEFT JOIN (
	SELECT * FROM ProjetPOO.dbo.Adresse AS adr1 
	INNER JOIN ProjetPOO.dbo.specifier as spec1 
	ON (adr1.ID = spec1.ID_Adresse)

	WHERE ID_Type = 1
) AS adrfact 
ON (situer.ID_Adresse = adrfact.ID)

LEFT JOIN (
	SELECT * FROM ProjetPOO.dbo.Adresse AS adr2
	INNER JOIN ProjetPOO.dbo.specifier as spec2
	ON (adr2.ID = spec2.ID_Adresse)

	WHERE ID_Type = 2
) AS adrliv

ON (situer.ID_Adresse = adrliv.ID)

LEFT JOIN ProjetPOO.dbo.Client AS clt
ON (situer.ID_Client = clt.ID);